/*this got deeply out of hand and multiple things are messy shut up*/

body{
    font-family: Helvetica, sans-serif;

    background-color: rgb(226, 212, 186) ;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header, .footer{
    background-color: rgb(84, 135, 135);

    color: whitesmoke;
}

.header {
    height: 50px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-left:70px;
    padding-right:40px;
}

.header-right{
    height: 35px;
    display: flex;
    align-items: center;
    gap: 25px;

    flex: 0 0 auto;
}

.footer{
    padding: 20px;
    text-align: center;
    font-size: smaller;
    flex: 0 0 auto;
}
.footer-text{
    width: 300px;
}

.top-stuff{
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;

    gap: 25px;

    background-color: rgb(39, 76, 85);
}

.top-left{
    flex: 0 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;

    gap:10px;

    color: whitesmoke;
}


.info{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 25px;
    padding-bottom:60px;
    gap:25px;

    background-color: rgb(226, 212, 186);
}

.info-blocks{
    display: flex;
    justify-content: center;
    gap:20px;
}

.the-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: smaller;
    gap:10px;
}


.quote{
    display: flex;
    padding-top: 75px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;

    align-items: center;
    flex-direction: column;

    color: whitesmoke;
    background-color: rgb(84, 135, 135);
}

.bottom-stuff{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgb(226, 212, 186);
}

.bottom-banner{
    display: flex;
    flex: 0 0 auto;
    padding: 25px;
    padding-right: 50px;
    padding-left: 50px;
    gap: 50px;

    border: 1.5px;
    border-radius: 6px;

    color:whitesmoke;
    background-color: rgb(39, 76, 85);
}

.bottom-left{
    display: flex;
    flex-direction: column;
}


/*non-flexis*/

a{
    color: whitesmoke;
    text-decoration: none;
}

/*theres two of these*/
button{
    width: 100px;
    height: 30px;

    background-color: rgb(84, 135, 135);
    color:whitesmoke;
    font-weight: bolder;
    padding: 0;
    border: 1.5px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 6px;
}

.header-logo{
    font-size: larger;
    font-weight: bolder;
    flex: 0 0 auto;
}

.t-l-title{
    color: whitesmoke;
    font-size: xx-large;
    font-weight: bolder;
}

.info-title{
    width: 300px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    color: rgb(20,20,20);
}

.i-block{
    height: 100px;
    width: 100px;

    border: 3px;
    border-style: solid;
    border-color: rgb(39, 76, 85);
    background-color: whitesmoke;
    border-radius: 6px;
}

.i-text{
    width: 120px;
    color: rgb(20,20,20);
}

.quote-text{
    font-style: italic;
    font-size: x-large;
    width: 700px;
    flex: 0 0 auto;
}

.quote-atr{
    font-weight: bolder;
    font-size:large;
    text-align: right;
    width: 700px;
    flex: 0 0 auto;
}

.b-l-title{
    font-weight: bolder;
    font-size: medium;
}

.b-l-text{
    font-size: small;
}